@model MVCAPPLI2.Models.LoginCls
@{
    ViewBag.Title = "Login_pageload";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h2>User Login</h2>
<div>
    @using (Html.BeginForm("Login_click", "LoginDB", FormMethod.Post))
</div>

